li.comments__item
    .comments__block
        .comments__user.user.comments__user--middle
            img(src="static/images/img/forum/forum-foto-1.png" alt="Картинка").user__img.s-forum__img--right
            .user__name Анастасия Гаева
            .user__nick-time
                .user__visit-time сегодня в 18:30
        .comments__rating
            .rating__text Оценка
            .rating
                .rating__icon.rating__icon--cart-workroom
                    +icon('star','rating__star orange')
                    +icon('star','rating__star orange')
                    +icon('star','rating__star orange')
                    +icon('star','rating__star orange')
                    +icon('star','rating__star orange')

    .comments__text
        p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей.