.s-banner
    .container.banner-media--middle
        .banner
            .banner__navigation.banner__navigation--prev.banner__navigation--active
                +icon('prev','banner__icon')
            .banner__navigation.banner__navigation--next
                +icon('next','banner__icon')
            .js-banner
                .js-banner__wrapper
                    ul.js-banner__list
                        li.banner__item
                            .banner__img(style="background-image: url('static/images/img/banner.jpg')")
                                .slide
                                    .slide__count 1
                                    .slide__int /3
                                .banner__content
                                    .action
                                        p Новым участникам
                                        h2 Скидка 10%
                                        p на первую покупку
                                .action__btn
                                    a(href="#")
                                        .a-btn.btn--action Подробнее
                                            +icon('action-arr','action-btn__icon')

                        li.banner__item
                            .banner__img(style="background-image: url('static/images/img/banner.jpg')")
                                .slide
                                    .slide__count 1
                                    .slide__int /3
                                .banner__content
                                    .action
                                        p Новым участникам
                                        h2 Скидка 10%
                                        p на первую покупку
                                .action__btn
                                    a(href="#")
                                        .a-btn.btn--action Подробнее
                                            +icon('action-arr','action-btn__icon')
                        li.banner__item
                            .banner__img(style="background-image: url('static/images/img/banner.jpg')")
                                .slide
                                    .slide__count 1
                                    .slide__int /3
                                .banner__content
                                    .action
                                        p Новым участникам
                                        h2 Скидка 10%
                                        p на первую покупку
                                .action__btn
                                    a(href="#")
                                        .a-btn.btn--action Подробнее
                                            +icon('action-arr','action-btn__icon')