li.all-slider__video-item.video-lesson--items
    .all-slider__smile.all-slider__smile--tablet-mini(style="background-image: url('static/images/img/item-7.jpg')")
        .video-item
            .video-item__title Видео обучающий урок по гончарному делу
            .video-play.video-play--bottom
                +icon('video-play','video-play__icon')

    .video-lesson__popup
        .popup
            .popup__title Заголовок видео
            .popup__descr Вместе с тем, было проведено обучение по изготовлению древнего казахского народного инструмента — сазсырнай.
            a(href="http://localhost:3000/video.html").popup__btn
                .a-btn.video-popup--btn Смотреть
