.s-blog
    .blog
        .blog__banner(style="background-image: url('static/images/img/blog-banner.jpg')")
            .container
                .blog-content
                    h1.blog-content__title Гончарство в мире, заголовок может быть в две строчки, но в три строчки будет уже перебор
                    .blog-content__inner
                        .blog-content__col
                            p Глина – распространённый материал, которым щедро одарила человечество природа. И люди издавна использовали её. Поначалу пытались вылепить из неё самые необходимые предметы (посуду для приготовления пищи, чашки, тарелки), практичные и непритязательные. Со временем, после того как был изобретён гончарный круг и открыты способы обжига, бесформенный кусок глины в руках профессиональных мастеров начал превращаться в изысканные изделия.
                        .blog-content__col
                            p В странах Африки изделия из глины изготавливались вручную, затем сушились на солнце и обжигались с помощью горящей соломы. Сегодня простые формы и фактура, естественные цвета, анималистические, растительные и абстрактные геометрические рисунки африканской керамики пользуются большим спросом у ценителей прекрасного.
                .blog-content__body
                    .b-social
                        .b-social__text Рассказать друзьям:
                        .b-social__icon
                            .social
                                .social__list
                                    a(href="#").social__item
                                        img(src="static/images/img/vk.png")
                                    a(href="#").social__item
                                        img(src="static/images/img/face.png")
                                    a(href="#").social__item
                                        img(src="static/images/img/twitter.png")
                                    a(href="#").social__item
                                        img(src="static/images/img/o-class.png")
                                    a(href="#").social__item
                                        img(src="static/images/img/youtube.png")
                                    a(href="#").social__item
                                        img(src="static/images/img/insta.png")
                    .a-btn.btn__offer-video.blog--btn Предложить статью
                    .blog-content__user
                        .user.user--blog
                            img(src="static/images/img/forum/forum-foto-1.png" alt="Картинка").user__img.s-forum__img--right
                            .user__name.user__name--white Анастасия Гаева
                            .user__nick-time
                                .user__visit-time.user--blog сегодня в 18:30
        .blog-text__wrapper
            .container
                .blog-body
                    .blog-body__col
                        h2.blog-body__title Гончарство в мире
                        p Глина – распространённый материал, которым щедро одарила человечество природа. И люди издавна использовали её. Поначалу пытались вылепить из неё самые необходимые предметы (посуду для приготовления пищи, чашки, тарелки), практичные и непритязательные. Со временем, после того как был изобретён гончарный круг и открыты способы обжига, бесформенный кусок глины в руках профессиональных мастеров начал превращаться в изысканные изделия.
                        p Каждый народ гордится своей историей развития гончарного искусства. В Китае оно было известно ещё за 2000 лет до н. э. и развилось до высочайшего уровня, о чём свидетельствует появление знаменитого китайского фарфора, который ценится во всём мире.
                    .blog-body__col
                        img(src="static/images/img/blog/blog-item.jpg").blog-body__img-1
                .blog-bottom
                    p Каждый народ гордится своей историей развития гончарного искусства. В Китае оно было известно ещё за 2000 лет до н. э. и развилось до высочайшего уровня, о чём свидетельствует появление знаменитого китайского фарфора, который ценится во всём мире.
                    p Из Древней Греции до наших дней дошли знаменитые амфоры, вазы, кувшины, которые имеют изящные и причудливые формы. На вазах древние греки рисовали целые истории из мифов, сценки повседневной жизни. Использовались различные техники работы с глиной. Так, на краснофигурных вазах для изображения оставляли естественную окраску глины, а фон закрашивали чёрным цветом. При создании чёрнофигурных изделий на красноватую глину наносили картинку чёрным лаком. Такие предметы считались роскошью, их можно было встретить в домах богатых греческих вельмож.
                    p В странах Африки изделия из глины изготавливались вручную, затем сушились на солнце и обжигались с помощью горящей соломы. Сегодня простые формы и фактура, естественные цвета, анималистические, растительные и абстрактные геометрические рисунки африканской керамики пользуются большим спросом у ценителей прекрасного.

include ../modules/section/blog-business
include ../modules/section/blog-story
include ../modules/section/s-video-lesson
include ../modules/section/s-other-articles
include ../modules/section/s-subscribe-blog




