.s-busket-step-five
    .container
        .busket-step-five
            .page__top
                h1.page__title Ваша корзина
                .page__descr Заказ оформлен

        .busket-data
            .busket-data__item
                .busket-bay
                    .busket-bay__title Спасибо за покупку
                    .busket-bay__number Номер заказа 0000735B8
                    .busket-bay__descr Наши специалисты свяжутся с Вами для подтверждения заказа, после чего вам будет выслана SMS  с данными о получении заказа.
