.s-forum-page-theme
    .container
        .forum-page-theme
            .page__top
                h1.page__title Гончарный форум
                .page__btn
                    .a-btn.btn__create--theme
                        .page-btn__text Создать тему
        include ../pages/forum-page-theme-item/forum-page-theme-item
        .forum-theme__comments
            textarea(name="content" id="editor")
            .page__btn
                .a-btn.btn__offer-video.btn__comments Добавить сообщение
