.s-forum
    .container
        .forum-page
            .page__top
                h1.page__title Гончарный форум
                .page__btn
                    .a-btn.btn__create--theme
                        .page-btn__text Создать тему
        include pages-item/forum-page-items-1
        include pages-item/forum-page-items-2
        include pages-item/forum-page-items-3







