.s-forum-page-razdel
    .container
        .forum-page-razdel
            .page__top
                h1.page__title Гончарный форум
                .page__btn
                    .a-btn.btn__create--theme
                        .page-btn__text Создать тему
        include ../pages/forum-page-razdel-item/forum-page-razdel-item