.s-liter-page
    .container
        .liter-page
            .liter-page__top
                h1.page__title Литература
            article.liter-cart
                .liter-cart__list
                    include liter-page-item/liter-page-item-1
                    include liter-page-item/liter-page-item-2
                    include liter-page-item/liter-page-item-1
                    include liter-page-item/liter-page-item-3
                    include liter-page-item/liter-page-item-1
                    include liter-page-item/liter-page-item-2
                    include liter-page-item/liter-page-item-1
                    include liter-page-item/liter-page-item-3
            .a-btn.preload--btn Показать еще
                +icon('p-dots','preloader__icon')




