.s-rating-workroom
    .container
        .rating-workroom
            .page__top
                h1.page__title Рейтинг мастерских
                .page__btn
                    .a-btn.btn__offer-video.catalog-workroom--btn
                        .page-btn__text Добавить свою мастерскую
        .catalog-workroom__body
            .catalog-workroom__content
                .rating-workroom__map
                    img(src="static/images/img/rating/map-rating.jpg").rating-workroom__img
                .rating-workroom__filter-top
                    .filter-top
                        ul.filter-top__list
                            li.filter-top__title.filter-workroom__title Сортировка
                            li.filter-top__item.filter-top--active по рейтингу
                            li.filter-top__item по популярности
                            li.filter-top__item по отзывам
                .rating-workroom__list
                    include ../pages/rating-workroom-item/rating-workroom-item
                    include ../pages/rating-workroom-item/rating-workroom-item-1
                    include ../pages/rating-workroom-item/rating-workroom-item-2
                    include ../pages/rating-workroom-item/rating-workroom-item-3
                    include ../pages/rating-workroom-item/rating-workroom-item-4
                    include ../pages/rating-workroom-item/rating-workroom-item-5
                    include ../pages/rating-workroom-item/rating-workroom-item-6
                .catalog-workroom__pagination
                    include ../pages/pagination-catalog/pagination
            .catalog-workroom__filter
                aside.filter
                    include ../pages/filter-workroom/filter
                .catalog-workroom__banner
                    .promo
                        .promo__img(style="background-image: url('static/images/img/banner-240x400.jpg')")

include ../modules/section/s-workroom-slider