.s-video-page
    .container
        .video-page
            .page__top.cart-product--page
                h1.page__title Заголовок видео урока
                .page__btn.cart-product--btn
                    .a-btn.btn__offer-video Предложить видео
            .video-page__gallery
                .video-gallery
                    .video-gallery__col
                        .video-gallery__img
                            .video-big-img(style="background-image: url('static/images/img/video/big-video.jpg')")
                                .video-big-text
                                    span Температура обжига глазури колеблется в интервале t950–1100° C, 1200–1260°C, 1020–1080°C. Глазурь со специальными знаками нельзя применять для изготовления пищевой посуды, т. к. в ее составе содержится медь, которая вредна для человеческого организма.
                                .video-play.video-play--top
                                    +icon('video-play','video-play__icon')
                    .video-gallery__col
                        .video-slide__inner.forum--scroll
                            .video-slide__list
                                .video-slide__item
                                    .video-slide__img(style="background-image: url('static/images/img/video/smile-video.jpg')")
                                        .video-play
                                            +icon('video-play','video-play__icon')
                                    span.video-slide__item-text Под Воронежем нашли ребро мамонта
                                .video-slide__item
                                    .video-slide__img(style="background-image: url('static/images/img/video/smile-video.jpg')")
                                        .video-play
                                            +icon('video-play','video-play__icon')
                                    span.video-slide__item-text Под Воронежем нашли ребро мамонта
                                .video-slide__item
                                    .video-slide__img(style="background-image: url('static/images/img/video/smile-video.jpg')")
                                        .video-play
                                            +icon('video-play','video-play__icon')
                                    span.video-slide__item-text Под Воронежем нашли ребро мамонта
                                .video-slide__item
                                    .video-slide__img(style="background-image: url('static/images/img/video/smile-video.jpg')")
                                        .video-play
                                            +icon('video-play','video-play__icon')
                                    span.video-slide__item-text Под Воронежем нашли ребро мамонта
                                .video-slide__item
                                    .video-slide__img(style="background-image: url('static/images/img/video/smile-video.jpg')")
                                        .video-play
                                            +icon('video-play','video-play__icon')
                                    span.video-slide__item-text Под Воронежем нашли ребро мамонта
                                .video-slide__item
                                    .video-slide__img(style="background-image: url('static/images/img/video/smile-video.jpg')")
                                        .video-play
                                            +icon('video-play','video-play__icon')
                                    span.video-slide__item-text Под Воронежем нашли ребро мамонта


