.s-video-lesson-page
    .container
        .video-lesson-page
            .page__top
                h1.page__title Видеоуроки
                .page__btn
                    .a-btn.btn__offer-video Предложить видео
            .video-lesson-page__wrapper
                ul.video-lesson-page__list
                    include ../modules/video-items-285x205/video-items-285x205
                    include ../modules/video-items-285x205/video-items-285x205
                    include ../modules/video-items-285x205/video-items-285x205
                    include ../modules/video-items-285x205/video-items-285x205
                    include ../modules/video-items-285x205/video-items-285x205
                    include ../modules/video-items-285x205/video-items-285x205
                    include ../modules/video-items-285x205/video-items-285x205
                    include ../modules/video-items-285x205/video-items-285x205
                    include ../modules/video-items-285x205/video-items-285x205
                    include ../modules/video-items-285x205/video-items-285x205
                    include ../modules/video-items-285x205/video-items-285x205
                    include ../modules/video-items-285x205/video-items-285x205
                    include ../modules/video-items-285x205/video-items-285x205
                    include ../modules/video-items-285x205/video-items-285x205
                    include ../modules/video-items-285x205/video-items-285x205
                    include ../modules/video-items-285x205/video-items-285x205

        .a-btn.preload--btn.video--lesson Показать еще
            +icon('p-dots','preloader__icon')