li
    a(href="http://localhost:3000/forum-theme.html").s-forum__link
        .s-forum__item.forum-page--razdel
            .s-forum__left
                .s-forum__text.forum-page--razdel-text
                    p Быстрая починка станка за 24 часа, без заморочка
                    span Ваш опытом по ремонта станка
                .s-forum__massage
                    .massage
                        .massage__icon
                            +icon('sms','massage__sms')
                        .massage__count.massage-count--black 93
            .s-forum__right.user
                img(src="static/images/img/forum/forum-foto-1.png" alt="Картинка").user__img.s-forum__img--right
                .user__name Анастасия Гаева
                .user__nick-time
                    .user__nick gonchar
                    .user__visit-time сегодня в 18:30
        .s-forum__mobile
            .s-forum__right.user.s-forum__mobile--user
                img(src="static/images/img/forum/forum-foto-1.png" alt="Картинка").user__img.s-forum__img--right
                .user__name Анастасия Гаева
                .user__nick-time.user__nick-time--user
                    .user__nick gonchar
                    .user__visit-time сегодня в 18:30
            .s-forum__massage.s-forum__massage--msg
                .massage
                    .massage__icon
                        +icon('sms','massage__sms')
                    .massage__count.massage-count--black 236