.s-pagination
    .pagination
        ul.pagination__list
            li.pagination__item
                a(href="#").pagination__link.pagination-active.pagination--40x40
                    +icon('left-arrow','pagination__icon pagination-active')
            li.pagination__item
                a(href="#").pagination__link.pagination--40x40 1
            li.pagination__item
                a(href="#").pagination__link.pagination--40x40 2
            li.pagination__item
                a(href="#").pagination__link.pagination-active.pagination--40x40 3
            li.pagination__item.pagination__item--clear
                a(href="#").pagination__link.pagination--40x40 4
            li.pagination__item
                a(href="#").pagination__link.pagination--icon.pagination--40x40
                    +icon('p-dots','pagination__icon pagination__dots')
            li.pagination__item.pagination__item--clear
                a(href="#").pagination__link.pagination--40x40 24
            li.pagination__item
                a(href="#").pagination__link.pagination--40x40
                    +icon('right-arrow','pagination__icon')
