.all-slider__video-inner.s-video-lesson--inner
    .all-slider__video-item.s-video-lesson__item
        .all-slider__smile(style="background-image: url('static/images/img/item-6.jpg')")
            .video-item
                .video-item__title Видео обучающий урок по гончарному делу
                .video-play.video-play--bottom
                    +icon('video-play','video-play__icon')

    .all-slider__video-item.s-video-lesson__item
        .all-slider__smile(style="background-image: url('static/images/img/item-7.jpg')")
            .video-item
                .video-item__title Видео обучающий урок по гончарному делу
                .video-play.video-play--bottom
                    +icon('video-play','video-play__icon')

