.advantages
    .advantages__col
        .adv-content
            .adv-img
                img(src="static/images/img/delivery.png").adv__img
            .adv-content__title Доставка
            .adv-content__text Продавайте по всей России, за доставку платит покупатель
            a(href="#").detail Подробнее

    .advantages__col
        .adv-content
            .adv-img
                img(src="static/images/img/adv-like.png").adv__img
            .adv-content__title Гарантия
            .adv-content__text У всех товаров есть минимальная гарантия 6 месяцев
            a(href="#").detail Подробнее
    .advantages__col
        .adv-content
            .adv-img
                img(src="static/images/img/payment.png").adv__img
            .adv-content__title Способы оплаты
            .adv-content__text Мы принимаем все способы оплаты для вашего удобства
            a(href="#").detail Подробнее
