ul.filter__list
    include ../filter/filter-item/filter-item-division
    include ../filter/filter-item/filter-item-helf
    include ../filter/filter-item/filter-item-delivery
    include ../filter/filter-item/filter-item-color
    include ../filter/filter-item/filter-item-rating
    include ../filter/filter-item/filter-item-btn