.forum-page__items
    .forum-page__item
        .forum-page__title.before--red
            h2.forum-page__h1 Где купить ?
            p Даем советы по покупке
        .s-forum
            ul.s-forum__list
                li
                    a(href="#").s-forum__link
                        .s-forum__item
                            .s-forum__left
                                img(src="static/images/img/pochinka.png" alt="Картинка").s-forum__img
                                .s-forum__text
                                    p Быстрая починка станка за 24 часа, без заморочка
                                    span Ваш опытом по ремонта станка
                                .s-forum__massage
                                    .massage
                                        .massage__icon
                                            +icon('sms','massage__sms')
                                        .massage__count.massage-count--black 36
                            .s-forum__right.user
                                img(src="static/images/img/forum/forum-foto-3.png" alt="Картинка").user__img.s-forum__img--right
                                .user__name Анастасия Гаева
                                .user__nick-time
                                    .user__nick gonchar
                                    .user__visit-time сегодня в 18:30
                        .s-forum__mobile
                            .s-forum__right.user.s-forum__mobile--user
                                img(src="static/images/img/forum/forum-foto-1.png" alt="Картинка").user__img.s-forum__img--right
                                .user__name Анастасия Гаева
                                .user__nick-time.user__nick-time--user
                                    .user__nick gonchar
                                    .user__visit-time сегодня в 18:30
                            .s-forum__massage.s-forum__massage--msg
                                .massage
                                    .massage__icon
                                        +icon('sms','massage__sms')
                                    .massage__count.massage-count--black 236
                li
                    a(href="#").s-forum__link
                        .s-forum__item
                            .s-forum__left
                                img(src="static/images/img/oboryd.png" alt="Картинка").s-forum__img
                                .count.s-forum--count
                                    span 8
                                .s-forum__text
                                    p Быстрая починка станка за 24 часа, без заморочка
                                    span Ваш опытом по ремонта станка
                                .s-forum__massage
                                    .massage
                                        .massage__icon
                                            +icon('sms','massage__sms')
                                        .massage__count.massage-count--black 13
                            .s-forum__right.user
                                img(src="static/images/img/forum/forum-foto-3.png" alt="Картинка").user__img.s-forum__img--right
                                .user__name Анастасия Гаева
                                .user__nick-time
                                    .user__nick gonchar
                                    .user__visit-time сегодня в 18:30
                        .s-forum__mobile
                            .s-forum__right.user.s-forum__mobile--user
                                img(src="static/images/img/forum/forum-foto-1.png" alt="Картинка").user__img.s-forum__img--right
                                .user__name Анастасия Гаева
                                .user__nick-time.user__nick-time--user
                                    .user__nick gonchar
                                    .user__visit-time сегодня в 18:30
                            .s-forum__massage.s-forum__massage--msg
                                .massage
                                    .massage__icon
                                        +icon('sms','massage__sms')
                                    .massage__count.massage-count--black 236
                li
                    a(href="#").s-forum__link
                        .s-forum__item
                            .s-forum__left
                                img(src="static/images/img/drel.png" alt="Картинка").s-forum__img
                                .s-forum__text
                                    p Быстрая починка станка за 24 часа, без заморочка
                                    span Ваш опытом по ремонта станка
                                .s-forum__massage
                                    .massage
                                        .massage__icon
                                            +icon('sms','massage__sms')
                                        .massage__count.massage-count--black 100
                            .s-forum__right.user
                                img(src="static/images/img/forum/forum-foto-3.png" alt="Картинка").user__img.s-forum__img--right
                                .user__name Анастасия Гаева
                                .user__nick-time
                                    .user__nick gonchar
                                    .user__visit-time сегодня в 18:30
                        .s-forum__mobile
                            .s-forum__right.user.s-forum__mobile--user
                                img(src="static/images/img/forum/forum-foto-1.png" alt="Картинка").user__img.s-forum__img--right
                                .user__name Анастасия Гаева
                                .user__nick-time.user__nick-time--user
                                    .user__nick gonchar
                                    .user__visit-time сегодня в 18:30
                            .s-forum__massage.s-forum__massage--msg
                                .massage
                                    .massage__icon
                                        +icon('sms','massage__sms')
                                    .massage__count.massage-count--black 236