li.article__items.s-other-articles--items
    .article__item(style="background-image: url('static/images/img/item-6.jpg')")
        .articles__count
            .pottery-content__count
                .view
                    .view__icon
                        +icon('eye','view__eye')
                    .view__count 1058
                .massage
                    .massage__icon
                        +icon('sms','massage__sms')
                    .massage__count 13


    .article-body
        .article-body__title
            h3 Сегодня очень популярным является увлечение старинным ремеслом
        .article-body__descr
            p Сегодня очень популярным является увлечение каким-либо старинным ремеслом. Гончарное дело, ткацкое ремесло, резьба по дереву, кузнечное дело - каждый выбирает то что ему по душе. Сегодня очень популярным является увлечение каким-либо старинным ремеслом...

    .article__btn
        a(href="#").a-btn Подробнее
