.all-slider__item.slide-workroom-page__item(style="background-image: url('static/images/img/item-2.jpg')")
    .pottery-content
        a(href="http://localhost:3000/cart-workroom.html").pottery-content__title Глиномес
        .pottery-content__rating
            .rating
                .rating__icon
                    +icon('star','rating__star')
                    +icon('star','rating__star')
                    +icon('star','rating__star')
                    +icon('star','rating__star')
                    +icon('star','rating__star')
                .rating__count 4.5
        .pottery-content__address
            p.address__title  Адрес:
            p.address__name г. Санкт-Петербург, ул.Пушкина, дом 23
        .pottery-content__count
            .view
                .view__icon
                    +icon('eye','view__eye')
                .view__count 1058
            .massage
                .massage__icon
                    +icon('sms','massage__sms')
                .massage__count 136


