extends template/main

block variables
    - var title = 'Блог'
    - var pageClass = 'blog-page'



block content
    .breadcrumbs
        .container
            .breadcrumbs-inner
                .breadcrumbs-inner__home.breadcrumbs-inner__link
                    a(href="http://localhost:3000/index.html").breadcrumbs-inner__link Главная
                .breadcrumbs-inner__item
                    .breadcrumbs-inner__forum Блог

    include pages/blog-page


