extends template/main

block variables
    - var title = 'Каталог мастерских'
    - var pageClass = 'catalog-workroom-page'



block content
    .breadcrumbs
        .container
            .breadcrumbs-inner
                .breadcrumbs-inner__home.breadcrumbs-inner__link
                    a(href="http://localhost:3000/index.html").breadcrumbs-inner__link Главная
                .breadcrumbs-inner__item
                    .breadcrumbs-inner__catalog Каталог мастерских

    include pages/catalog-workroom-page


