li.all-slider__item(style="background-image: url('static/images/img/item-4.jpg')")
    .product-item
        .product-item__title Ваза римская
        .product-item__price 12.000 руб.
        .product-item__btn
            a(href="http://localhost:3000/busket-step-1.html").product-item__link
                .a-btn.btn--busket В корзину
li.all-slider__item.all-slider--smile__item
    .all-slider__smile(style="background-image: url('static/images/img/item-5.jpg')")
        .product-item
            .product-item__title Ваза римская
            .product-item__price 12.000 руб.
            .product-item__btn.smile--hover
                a(href="http://localhost:3000/busket-step-1.html").product-item__link
                    .a-btn.btn--busket В корзину
    .all-slider__smile(style="background-image: url('static/images/img/item-5.jpg')")
        .product-item
            .product-item__title Ваза римская
            .product-item__price 12.000 руб.
            .product-item__btn.smile--hover
                a(href="http://localhost:3000/busket-step-1.html").product-item__link
                    .a-btn.btn--busket В корзину
