@font-face {
  font-family: 'CorsicaLXRegularItalic';
  src: url('../fonts/CorsicaLXRegularItalic/CorsicaLXRegularItalic.ttf') format('truetype'),
  url('../fonts/CorsicaLXRegularItalic/CorsicaLXRegularItalic.woff') format('woff'),
  url('../fonts/CorsicaLXRegularItalic/CorsicaLXRegularItalic.woff2') format('woff2'),
  url('../fonts/CorsicaLXRegularItalic/CorsicaLXRegularItalic.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CorsicaLXBook';
  src: url('../fonts/CorsicaLXBook/CorsicaLXBook.ttf') format('truetype'),
  url('../fonts/CorsicaLXBook/CorsicaLXBook.woff') format('woff'),
  url('../fonts/CorsicaLXBook/CorsicaLXBook.woff2') format('woff2'),
  url('../fonts/CorsicaLXBook/CorsicaLXBook.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'CorsicaLXBold';
  src: url('../fonts/CorsicaLXBold/CorsicaLXBold.ttf') format('truetype'),
  url('../fonts/CorsicaLXBold/CorsicaLXBold.woff') format('woff'),
  url('../fonts/CorsicaLXBold/CorsicaLXBold.woff2') format('woff2'),
  url('../fonts/CorsicaLXBold/CorsicaLXBold.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CorsicaLXRegular';
  src: url('../fonts/CorsicaLXRegular/CorsicaLXRegular.ttf') format('truetype'),
  url('../fonts/CorsicaLXRegular/CorsicaLXRegular.woff') format('woff'),
  url('../fonts/CorsicaLXRegular/CorsicaLXRegular.woff2') format('woff2'),
  url('../fonts/CorsicaLXRegular/CorsicaLXRegular.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CorsicaLXMedium';
  src: url('../fonts/CorsicaLXMedium/CorsicaLXMedium.ttf') format('truetype'),
  url('../fonts/CorsicaLXMedium/CorsicaLXMedium.woff') format('woff'),
  url('../fonts/CorsicaLXMedium/CorsicaLXMedium.woff2') format('woff2'),
  url('../fonts/CorsicaLXMedium/CorsicaLXMedium.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CorsicaLXSemiBold';
  src: url('../fonts/CorsicaLXSemiBold/CorsicaLXSemiBold.ttf') format('truetype'),
  url('../fonts/CorsicaLXSemiBold/CorsicaLXSemiBold.woff') format('woff'),
  url('../fonts/CorsicaLXSemiBold/CorsicaLXSemiBold.woff2') format('woff2'),
  url('../fonts/CorsicaLXSemiBold/CorsicaLXSemiBold.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}