li.filter__item
    .filter__title С отзывами
    .filter-item__inner
        .filter__input-item
            input(type="radio" id="yes"  name="reviews" checked="checked" class="filter__input")
            label(for="yes" class="filter__label") Да
            span.filter__product-count (21)
        .filter__input-item
            input(type="radio" id="not"    name="reviews" class="filter__input")
            label(for="not" class="filter__label") Нет
            span.filter__product-count (85)