li.filter__item
    .filter__title Выбрать город
    .filter-item__select
        select(name="country")
            option Все города
            option Москва
            option Санкт-Петербург
            option Воркута
