.liter-cart__item
    img(src="static/images/img/liter-item-1.jpg" alt="Картинка").liter-cart__img
    .liter-cart__left
        h3.liter-item__title Тонкое исскуство пофигизма
        .liter-item__text
            p Затем появились ножные. Они удобнее, потому что позволяют освободить для работы обе руки мастера. Большинство современных гончарных кругов электрические. Они достаточно удобны и облегчают физический труд гончара. Хотя некоторые мастера утверждают, что настоящий гончарный круг — это все-таки ножной.
        .liter-item__btn
            a(href="#" role="link" aria-label="Читать книгу").liter-item__link
                .a-btn.liter-item--btn Читать