ul.filter__list
    include ../../pages/filter-workroom/filter-item/filter-item-city
    include ../../pages/filter-workroom/filter-item/filter-item-production
    include ../../pages/filter-workroom/filter-item/filter-item-delivery
    include ../../pages/filter-workroom/filter-item/filter-item-reviews
    include ../../pages/filter-workroom/filter-item/filter-item-rating
    include ../../pages/filter-workroom/filter-item/filter-item-btn

