.forum-page__items
    .forum-page__item
        .forum-page__title
            h2.forum-page__h1 Ремонт гончарных станков
            p Делимся опытом и даем советы
        .s-forum
            .s-forum__list
                include ../../pages/forum-page-razdel-mini-item/forum-page-razdel-mini-item
                include ../../pages/forum-page-razdel-mini-item/forum-page-razdel-mini-item
                include ../../pages/forum-page-razdel-mini-item/forum-page-razdel-mini-item
                include ../../pages/forum-page-razdel-mini-item/forum-page-razdel-mini-item
                include ../../pages/forum-page-razdel-mini-item/forum-page-razdel-mini-item
                include ../../pages/forum-page-razdel-mini-item/forum-page-razdel-mini-item
                include ../../pages/forum-page-razdel-mini-item/forum-page-razdel-mini-item
                include ../../pages/forum-page-razdel-mini-item/forum-page-razdel-mini-item
                include ../../pages/forum-page-razdel-mini-item/forum-page-razdel-mini-item
                include ../../pages/forum-page-razdel-mini-item/forum-page-razdel-mini-item
                include ../../pages/forum-page-razdel-mini-item/forum-page-razdel-mini-item

    .forum-page__pagination
        include ../../modules/pagination/pagination
