li.catalog-items
    a(href="http://localhost:3000/cart-product.html").catalog-items__link
        .catalog-items__img(style="background-image: url('static/images/img/catalog/product-item-4.jpg')")
            .catalog-items__content
                .catalog-items__text Чаша
                .catalog-items__rating
                .rating
                    .rating__icon
                        +icon('star','rating__star')
                        +icon('star','rating__star')
                        +icon('star','rating__star')
                        +icon('star','rating__star')
                        +icon('star','rating__star')
                    .rating__count 4.5
            .catalog-items__foto
                +icon('camera','catalog-items__icon')
                span.catalog-items__count 15

        .catalog-body
            .catalog-body__left
                .catalog-body__name Чашка для кофе
                .catalog-body__price
                    span 790
                    +icon('ruble','catalog-body__icon')

            .catalog-body__right
                +icon('basket','catalog-body__basket')

