.forum-page__items.forum-theme--items
    .forum-page__item
        .forum-page__title.forum-page--theme
            h2.forum-page__h1 Открытая тема или обсуждение
            p Делимся опытом и даем советы
    .forum-theme__wrapper
        .forum-theme__list
            .forum-theme__item
                include ../../pages/forum-page-theme-item/forum-theme-comments-item/forum-theme-comments-item
                .forum-theme__btn
                    button.btn__theme.forum-theme__answer Ответить
                    button.btn__theme.forum-theme__quote Цитировать
            .forum-theme__item
                include ../../pages/forum-page-theme-item/forum-theme-comments-item/forum-theme-comments-item
                .forum-theme__btn
                    button.btn__theme.forum-theme__answer Ответить
                    button.btn__theme.forum-theme__quote Цитировать
            .forum-theme__item
                include ../../pages/forum-page-theme-item/forum-theme-comments-item/forum-theme-comments-item
                .forum-theme__btn
                    button.btn__theme.forum-theme__answer Ответить
                    button.btn__theme.forum-theme__quote Цитировать
            .forum-theme__item
                include ../../pages/forum-page-theme-item/forum-theme-comments-item/forum-theme-comments-item
                .forum-theme__btn
                    button.btn__theme.forum-theme__answer Ответить
                    button.btn__theme.forum-theme__quote Цитировать

