li.carts-big-item
    .carts-big-item__img(style="background-image: url('static/images/img/cart-item.jpg')")
        .catalog-items__foto.carts-big--item
            +icon('camera','catalog-items__icon carts-camera--icon')
            span.catalog-items__count
                .slide.carts-big--count
                    .slide__count 1
                    .slide__int /6