section.s-story
    .container
        .story
            .story__col
                .story-item__list
                    .story-item__left
                        .story-item__img
                            img(src="static/images/img/blog/blog-item-3.jpg")
                    .story-item__right
                        .story-item__img
                            img(src="static/images/img/blog/blog-item-1.jpg")
                        .story-item__img
                            img(src="static/images/img/blog/blog-item-2.jpg")
            .story__col
                .story-item__text
                    p Каждый народ гордится своей историей развития гончарного искусства. В Китае оно было известно ещё за 2000 лет до н. э. и развилось до высочайшего уровня, о чём свидетельствует появление знаменитого китайского фарфора, который ценится во всём мире.
                    p Из Древней Греции до наших дней дошли знаменитые амфоры, вазы, кувшины, которые имеют изящные и причудливые формы. На вазах древние греки рисовали целые истории из мифов, сценки повседневной жизни. Использовались различные техники работы с глиной. Так, на краснофигурных вазах для изображения оставляли естественную окраску глины, а фон закрашивали чёрным цветом. При создании чёрнофигурных изделий на красноватую глину наносили картинку чёрным лаком. Такие предметы считались роскошью, их можно было встретить в домах богатых греческих вельмож.
                    p В странах Африки изделия из глины изготавливались вручную, затем сушились на солнце и обжигались с помощью горящей соломы. Сегодня простые формы и фактура, естественные цвета, анималистические, растительные и абстрактные геометрические рисунки африканской керамики пользуются большим спросом у ценителей прекрасного. Из Древней Греции до наших дней дошли знаменитые амфоры, вазы, кувшины, которые имеют изящные и причудливые формы.
        p.story__text Гончарство на Руси – одно из важнейших и древнейших ремёсел. Поначалу русичи делали из этого природного материала только кувшины, сковороды, чашки. Но со временем, по мере накопления опыта работы с глиной, ремесло стало превращаться в промысел, причём производили уже не только товары бытового назначения, но и игрушки, статуэтки, предметы роскоши. Появились гончарные мастерские, художественные студии, творческие артели, использующие при работе различные способы обжига, технологии замешивания глины. В результате каждая мастерская приобретала свой фирменный стиль, благодаря которому многие из них знамениты на весь мир (Дымковская игрушка, Гжель).