section.s-business
    .container
        .business
            h2.business__title Особенности гончарного бизнеса
            .business-inner
                .business-inner__list
                    .business-inner__item
                        +icon('action-arr','action-btn__icon blog-business')
                        p.business-inner__text Лучше всего реализовывается керамическая продукция в крупных курортных городах, где всегда много туристов, приезжающих из далекого зарубежья. Эти люди являются целевой аудиторией, так как они наверняка будут скупать разные сувениры для своих родственников и приобретать что-то красивое лично себе на память об отдыхе;
                    .business-inner__item
                        +icon('action-arr','action-btn__icon blog-business')
                        p.business-inner__text Лучше всего реализовывается керамическая продукция в крупных курортных городах, где всегда много туристов, приезжающих из далекого зарубежья. Эти люди являются целевой аудиторией, так как они наверняка будут скупать разные сувениры для своих родственников и приобретать что-то красивое лично себе на память об отдыхе;
                    .business-inner__item
                        +icon('action-arr','action-btn__icon blog-business')
                        p.business-inner__text Лучше всего реализовывается керамическая продукция в крупных курортных городах, где всегда много туристов, приезжающих из далекого зарубежья. Эти люди являются целевой аудиторией, так как они наверняка будут скупать разные сувениры для своих родственников и приобретать что-то красивое лично себе на память об отдыхе;
                    .business-inner__item
                        +icon('action-arr','action-btn__icon blog-business')
                        p.business-inner__text Лучше всего реализовывается керамическая продукция в крупных курортных городах, где всегда много туристов, приезжающих из далекого зарубежья. Эти люди являются целевой аудиторией, так как они наверняка будут скупать разные сувениры для своих родственников и приобретать что-то красивое лично себе на память об отдыхе;

