section.s-filiation-workroom
    .container
        .filiation-workroom
            h2.filiation-workroom__title Филиалы нашей мастерской
                .cart-title-count#f-count(aria-label="Колличество филиалов мастерских") 32
    .filiation-workroom__maps
        img(src="static/images/img/cart-workroom-map.jpg" alt="Филиалы нашей мастерской на карте").filiation-workroom__img

