section.s-history-craft
    .container
        .history-craft
            .history-craft__banner.banners
                .banners__list
                    .banners__item.media-screen--tablet-big
                        .promo.promo--border-color
                            .promo__img(style="background-image: url('static/images/img/banner-240x400.jpg')")
                    .banners__item
                        .promo.promo--border-color
                            .promo__img(style="background-image: url('static/images/img/banner-240x400.jpg')")

            .history-craft__descr
                .history-craft__title
                    h3 История гончарного ремесла
                .history-craft__text
                    p Гончарное ремесло считается одним из древнейших ремесел на земле. Оно зародилось еще в эпоху неолита, что подтверждают многочисленные находки археологических раскопок: вылепленные вручную глиняные изделия, примитивная посуда для приготовления пищи на огне, сосуды для воды и зерна. Сохранившиеся до сих пор, эти прочные изделия очень ярко рассказывают, как развивалось это древнее ремесло, которое со временем превратилось в искусство.
                .history-craft__text
                    p Глина была распространена повсеместно и являлась тем подручным материалом, который легко можно обработать и из которого можно вылепить все. В умелых руках мастера бесформенный, пластичный материал, как по волшебству, превращался в посуду, украшения, скульптуры. Конечно, сначала древние глиняные сосуды лепили вручную, и их форма была далека от идеала. Но с изобретением гончарного круга, а затем с открытием технологии обжига, гончарные изделия стали самыми распространенными в быту.


