section.s-product-slider
    .container
        .product-slider
            .product-slider__col
                include ../../modules/sliders/popular-goods
            .product-slider__col.media-screen--tablet-big
                include ../../modules/sliders/video-lesson

        include ../../modules/subscribe/subscribe
