section.s-cart-workroom-tabs
    .container
        .cart-workroom-tabs
            .cart-tabs
                .cart-tabs__item
                    .cart-tabs__title.active Мы продаем
                        .cart-title-count#sell-count(aria-label="Колличество товаров") 23
                    .cart-tabs__content
                        include ../../modules/section/s-cart-workroom-sell-item/catalog-item
                        include ../../modules/section/s-cart-workroom-sell-item/catalog-item-1
                        include ../../modules/section/s-cart-workroom-sell-item/catalog-item-2
                        include ../../modules/section/s-cart-workroom-sell-item/catalog-item-3
                        include ../../modules/section/s-cart-workroom-sell-item/catalog-item-4
                        include ../../modules/section/s-cart-workroom-sell-item/catalog-item-5
                        include ../../modules/section/s-cart-workroom-sell-item/catalog-item
                        include ../../modules/section/s-cart-workroom-sell-item/catalog-item-2
                        include ../../modules/section/s-cart-workroom-sell-item/catalog-item-4
                        include ../../modules/section/s-cart-workroom-sell-item/catalog-item
                        include ../../modules/section/s-cart-workroom-sell-item/catalog-item-1
                        include ../../modules/section/s-cart-workroom-sell-item/catalog-item-2
                        include ../../modules/section/s-cart-workroom-sell-item/catalog-item-3
                        include ../../modules/section/s-cart-workroom-sell-item/catalog-item-4
                        include ../../modules/section/s-cart-workroom-sell-item/catalog-item-5
                        include ../../modules/section/s-cart-workroom-sell-item/catalog-item
                    .cart-tabs__pagination
                        include ../../pages/pagination-catalog/pagination


                //.cart-tabs__item
                //    .cart-tabs__title Мастер классы
                //        .cart-title-count#mc-count(aria-label="Колличество мастер классов") 34
                //    .cart-tabs__content
