li.filter__item
    .filter__title По рейтингу продавца
    .filter-item__inner
        .filter__input-item
            input(type="checkbox" id="star-1" name="input-rating" class="filter__input")
            label(for="star-1")
                +icon('star','filter__star-icon')
                +icon('star','filter__star-icon filter__star--opacity')
                +icon('star','filter__star-icon filter__star--opacity')
                +icon('star','filter__star-icon filter__star--opacity')
                +icon('star','filter__star-icon filter__star--opacity')

        .filter__input-item
            input(type="checkbox" id="star-2" name="input-rating" class="filter__input")
            label(for="star-2")
                +icon('star','filter__star-icon')
                +icon('star','filter__star-icon')
                +icon('star','filter__star-icon filter__star--opacity')
                +icon('star','filter__star-icon filter__star--opacity')
                +icon('star','filter__star-icon filter__star--opacity')

        .filter__input-item
            input(type="checkbox" id="star-3" name="input-rating" class="filter__input")
            label(for="star-3")
                +icon('star','filter__star-icon')
                +icon('star','filter__star-icon')
                +icon('star','filter__star-icon')
                +icon('star','filter__star-icon filter__star--opacity')
                +icon('star','filter__star-icon filter__star--opacity')

        .filter__input-item
            input(type="checkbox" id="star-4" name="input-rating" class="filter__input")
            label(for="star-4")
                +icon('star','filter__star-icon')
                +icon('star','filter__star-icon')
                +icon('star','filter__star-icon')
                +icon('star','filter__star-icon')
                +icon('star','filter__star-icon filter__star--opacity')

        .filter__input-item
            input(type="checkbox" id="star-5" name="input-rating" class="filter__input")
            label(for="star-5")
                +icon('star','filter__star-icon')
                +icon('star','filter__star-icon')
                +icon('star','filter__star-icon')
                +icon('star','filter__star-icon')
                +icon('star','filter__star-icon')
