li.filter__item
    .filter__title Вес будущей посылки
    .filter-item__inner
        .filter__input-item
            input(type="radio" id="0" name="radio-helf" checked="checked" class="filter__input")
            label(for="0" class="filter__label") 0 - 500гр.
        .filter__input-item
            input(type="radio" id="501" name="radio-helf" class="filter__input")
            label(for="501" class="filter__label") 501 - 1000гр.
        .filter__input-item
            input(type="radio" id="1001" name="radio-helf" class="filter__input")
            label(for="1001" class="filter__label") 1001 - 2000гр.
        .filter__input-item
            input(type="radio" id="2001" name="radio-helf" class="filter__input")
            label(for="2001" class="filter__label") 2001 - 5000гр.
        .filter__input-item
            input(type="radio" id="5001" name="radio-helf" class="filter__input")
            label(for="5001" class="filter__label") более 5001гр.
