li.filter__item
    .filter__title Выбрать цвет
    .filter-item__inner
        .filter__input-item
            input(type="checkbox" id="notcolor" name="input-color" class="filter__input")
            label(for="notcolor" class="filter__label") Без цвета
            span.filter__product-count (2034)
        .filter__input-item
            input(type="checkbox" id="red" name="input-color" class="filter__input")
            label(for="red" class="filter__label") Красный
            span.filter__product-count (501)
        .filter__input-item
            input(type="checkbox" id="blue" name="input-color" class="filter__input")
            label(for="blue" class="filter__label") Синий
            span.filter__product-count (90)
        .filter__input-item
            input(type="checkbox" id="black" name="input-color" class="filter__input")
            label(for="black" class="filter__label") Черный
            span.filter__product-count (103)
        .filter__input-item
            input(type="checkbox" id="mixcolor" name="input-color" class="filter__input")
            label(for="mixcolor" class="filter__label") Цвет микс
            span.filter__product-count (34)