li.filter__item
    .filter__title Выбрать разделы
    .filter-item__inner
        .filter__input-item
            input(type="checkbox" id="dishes" class="filter__input")
            label(for="dishes" class="filter__label") Посуда
            span.filter__product-count (50)
        .filter__input-item
            input(type="checkbox" id="toys" class="filter__input")
            label(for="toys" class="filter__label") Игрушки
            span.filter__product-count (50)
        .filter__input-item
            input(type="checkbox" id="set" class="filter__input")
            label(for="set" class="filter__label") Наборы
            span.filter__product-count (50)
        .filter__input-item
            input(type="checkbox" id="souvenir" class="filter__input")
            label(for="souvenir" class="filter__label") Сувениры
            span.filter__product-count (50)
        .filter__input-item
            input(type="checkbox" id="magnet" class="filter__input")
            label(for="magnet" class="filter__label") Магниты
            span.filter__product-count (50)