.menu {
  padding: 30px 0;
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &.footer-menu__list {
      max-width: 490px;
      flex-wrap: wrap;
    }
  }
  &__link {
    font-size: 15px;
    font-weight: bold;
    color: $black;
    transition: color .3s linear;
    &.footer-menu__link {
      color: $white;
    }
    &:hover {
      color: $base-color-red;
    }
  }
}

