footer.footer
    .container
        .footer__content
            .f-menu
                .f-menu__list
                    .f-menu__item
                        a(href="#").f-menu__link Каталог
                    .f-menu__item
                        a(href="#").f-menu__link Рейтинг
                .f-menu__list
                    .f-menu__item
                        a(href="#").f-menu__link Отзывы
                    .f-menu__item
                        a(href="#").f-menu__link Магазин
                .f-menu__list
                    .f-menu__item
                        a(href="#").f-menu__link Форум
                    .f-menu__item
                        a(href="#").f-menu__link Литература
                .f-menu__list
                    .f-menu__item
                        a(href="#").f-menu__link Видеоуроки
                    .f-menu__item
                        a(href="#").f-menu__link Блог

            .f-socials
                .f-socials__title Соцсети
                .f-socials__icon
                    .social
                        .social__list
                            a(href="#").social__item
                                img(src="static/images/img/vk.png")
                            a(href="#").social__item
                                img(src="static/images/img/face.png")
                            a(href="#").social__item
                                img(src="static/images/img/twitter.png")
                            a(href="#").social__item
                                img(src="static/images/img/o-class.png")
                            a(href="#").social__item
                                img(src="static/images/img/youtube.png")
                            a(href="#").social__item
                                img(src="static/images/img/insta.png")
            .f-copyright
                .copyright
                    p.copyright__text Copyright 2019 &#169; RegMarkets.ru
                    p.copyright__prava Все права защищены
    .f-copy
        .copy
            span.copy__text Copyright 2019 &#169; RegMarkets.ru,
            span.copy__prava  Все права защищены














